body * {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2{
  color: orange;
}

body {
  padding-top: 50px;
}

:focus {
  outline: 5px dotted red;
}

form {
  text-align: center;
}

.movie-result img {
  width: 100%;
}

.main-gallery {
  width: 80%;
  margin: 20px auto 0 auto;
}

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  top: 325px;
}

.gallery-cell, .gallery-cell img {
  width: 400px;
}

.gallery-cell {
  height: 800px;
}

.gallery-cell img {
  transition: 1s;
}

.gallery-cell.is-clicked { 
  width: 80%; 
}

.is-clicked {
  padding: 25px;
}

.is-clicked img {
  float:left;
  width: 300px;
  padding-right: 25px;
}

.movie-ratings {
  margin: 5px 0 5px 0;
}

.movie-title {
  font-size: 30pt;
}


/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 45px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

/* Container Contents */

.movie-trailers div {
  display: inline-block;
}

.movie-trailers img {
  width: 200px;
}


/*Utility*/

.hidden {
  display: none;
}

/* Responsive */
@media only screen and (max-width: 1280px){
  .gallery-cell, .gallery-cell img {
    width: 300px;
  }

  .gallery-cell {
    height: 700px;
  }

  .is-clicked img {
    width: 150px;
    float: none;
    padding-right: 0;
  }

  .image-container, .movie-title {
    text-align: center;
  }

  .flickity-prev-next-button.previous, .flickity-prev-next-button.next {
    top: 225px;
  }
}

@media only screen and (max-width: 640px){
  .gallery-cell, .gallery-cell img {
    width: 200px;
  }

  .main-gallery {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .is-clicked img {
    width: 100px;
  }
  .gallery-cell {
    height: 500px;
  }

  .flickity-prev-next-button.previous, .flickity-prev-next-button.next {
    top: 150px;
  }

  h2 {
    font-size: 14pt;
  }
}