html {
  background-image: url("images/background.png");
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  /*For some reason this line is needed to make the background 
  look correct ONLY in firefox, and ONLY on the start page*/
  background-attachment: fixed;
}

body * {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  width: 65%;
  margin: auto;
}

:focus {

}

/*     TEXT    */

h1, h2{
  color: orange;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}


/*    LOGO     */
.logo-container, .logo-container-footer {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 10pt;
}

.logo-container-footer img {
  width: 40px;
}

.logo {
  width: 200px;
}

/*     SEARCH    */

label {
  text-transform: uppercase;
}

form {
  text-align: center;
}

input, select {
  width: 200px;
  height: 30px;
  border-radius: 7px;
}

button[type=submit] {
  display: block;
  margin: 5px auto 20px auto;
  border-radius: 7px;
  width: 100px;
  height: 25px;
  background-color: orange;
  border: none;
  color: white;
  text-transform: uppercase;
}

.popular-container {
  text-align: center;
}

.popular, .top-rated {
  display: inline-block;
}

/*    RESULTS    */
/* Flickity */
.main-gallery {
  margin: 20px auto 300px auto;
}

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  top: 325px;
  visibility: hidden;
}

.gallery-cell, .result-image {
  width: 400px;
}

.result-image {
  transition: 1s;
}

.gallery-cell.is-clicked { 
  width: 80%; 
}

.is-clicked {
  padding: 0 8% 0 8%;
}

.is-clicked .result-image {
  width: 250px;
}

/*     Movie Details     */
.image-container, .movie-title {
  text-align: center;
}

.movie-title {
  font-size: 30pt;
}

.movie-ratings {
  margin: 5px 0 5px 0;
}

/* Rating Logos */
.movie-ratings img {
  width: 25px;
}

/* Loading Icon */
.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -25px;
}

.loading-gif {
  width: 50px;
}

/*Utility*/

.hidden {
  display: none;
}

/* Responsive */
@media only screen and (max-width: 1280px){
  body {
    width: 70%;
  }


  .movie-title {
    font-size: 20pt;
  }

  .gallery-cell, .result-image {
    width: 300px;
  }

  .is-clicked .result-image {
    width: 150px;
  }

  .flickity-prev-next-button.previous, .flickity-prev-next-button.next {
    top: 225px;
  }
}

@media only screen and (max-width: 640px){
  html {
    background-image: url('images/background-small.png');
  }

  body {
    width: 85%;
  }

  .gallery-cell, .result-image {
    width: 250px;
  }

  .main-gallery {
    margin: 20px auto 200px auto;
  }

  .is-clicked .result-image {
    width: 100px;
  }

  .gallery-cell.is-clicked { 
    width: 100%; 
  }

  .flickity-prev-next-button.previous, .flickity-prev-next-button.next {
    width: 25px;
    height: 25px;
    top: 100px;
  }

  h2 {
    font-size: 14pt;
  }
}
