html {
  background-image: url("images/background.png");
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  /*For some reason this line is needed to make the background 
  look correct ONLY in firefox, and ONLY on the start page*/
  background-attachment: fixed;
}

body * {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  width: 65%;
  margin: auto;
}

/*     TEXT    */

h1, h2, h3, .title-block{
  text-transform: uppercase;
  text-align: center;
}

h1, h3 {
  color: orange;
}

h2 {
  color: black;
}

.stat {
  font-size: 14pt;
  font-weight: 500;
}



.movie-plot-container h3 {
  color: black;
}

a {
  text-decoration: none;
}

::placeholder {
  color: white;
}

/*    LOGO     */
.logo-container, .logo-container-footer {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.logo-container-footer img {
  width: 40px;
}

.logo {
  width: 200px;
}

/*    RESULTS    */
/* Flickity */
.main-gallery {
  margin: 20px auto 300px auto;
}

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  top: 325px;
  visibility: hidden;
}

.gallery-cell, .result-image {
  width: 400px;
}

.result-image {
  transition: 1s;
}

.gallery-cell.is-clicked { 
  width: 80%; 
}

.title-block {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  max-height: 0;
  padding: 0;
  transition: 0.3s ease;
  font-size: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 1%, rgba(0,0,0,0.85) 71%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 1%,rgba(0,0,0,0.85) 71%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.85) 1%,rgba(0,0,0,0.85) 71%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=0 );
}

.is-selected .title-block {
  max-height: 500px;
    font-size: 15pt;
  font-weight: 600;
  padding: 15px 10px 40px 10px;
  color: orange;
}

.is-clicked .title-block {
  max-height: 0px;
  padding: 0;  
  font-size: 0;
}

.is-clicked {
  padding: 0 9% 0 9%;
}

.is-clicked .result-image {
  width: 250px;
}

.results-number {
  color: black;
}

/*     Movie Details     */

.image-container, .movie-title-container {
  text-align: center;
  position: relative;
}

.movie-title-container {
  margin-bottom: 20px;
}

.movie-ratings, .movie-details {
  margin: 0 auto 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.movie-plot-container {
  margin-top: 20px;
}

.rating-image {
  display: block;
  margin: 0 auto 10px auto;
}

.stat-container {
  width: 33%;
}

/* Rating Logos */
.movie-ratings img {
  width: 50px;
  vertical-align: middle;
}

.statLabel {
  display: block;
  color: orange;
}

/* Loading Icon */
.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -25px;
}

.loading-gif {
  width: 50px;
}

/*    Form     */
input[type=radio] {
  position: fixed;
  left: -200px;
}

input:not([type=radio]), select {
  appearance: none;
  background-color: orange;
  display: block;
  transition: 300ms ease;
  border-radius: 7px;
  border: 0;
  max-height: 0;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  width: 250px;
  opacity: 0;
  font-size: 16px;
  text-align: center;

}

[id=search]:checked ~ input.search,
[id=discoverSearch]:checked ~ select.discoverSearch,
[id=reset]:checked ~ input.reset {
  max-height: 50px;
  padding: 10px;
  margin: 10px 0;
  opacity: 1;
}

/* Override above when needed */
.hiddenOption {
  max-height: 0 !important; 
  padding: 0 10px !important;
  margin: 0 !important;
  opacity: 0 !important;
}

button {
  width: 250px;
  height: 40px;
  border-radius: 7px;
  background-color: orange;
  font-size: 0;
  outline: 0;
}

button[type=submit]:before {
  font-size: 16px;
  content: "Search";
}

label {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: orange;
  transition: 300ms ease;
  width: calc(100% / 3 - 4px);
}


label:after {
  content: "";
  border: 15px solid transparent;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 10px);
  transition: inherit;
  z-index: -1;
}

[id=search]:checked ~ [for=search],
[id=discoverSearch]:checked ~ [for=discoverSearch] {
  color: black;
}

[id=search]:checked ~ [for=search]:after,
[id=discoverSearch]:checked ~ [for=discoverSearch]:after{
  border-bottom-color: orange;
}


[id=search]:focus ~ [for=search]:after, 
[id=discoverSearch]:focus ~ [for=discoverSearch]:after {
  border-bottom-color: black;
}

select:focus, input:focus {
  outline: 1px black solid;
}

button:focus {
  border: 1px black solid;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  text-align: center;
  transition: 300ms ease;
}

/*Utility*/

.hidden {
  display: none;
}

fieldset {
  border: 0;
}

/* Responsive */
@media only screen and (max-width: 1280px){
  body {
    width: 70%;
  }

  .movie-ratings img {
    width: 25px;
    margin-bottom: 5px;
  }

  .gallery-cell, .result-image {
    width: 300px;
  }

  .is-clicked .result-image {
    width: 150px;
  }

  .flickity-prev-next-button.previous, .flickity-prev-next-button.next {
    top: 225px;
  }
}

@media only screen and (max-width: 640px){
  html {
    background-image: url('images/background-small.png');
  }

  body {
    width: 85%;
  }

  h1 {
    font-size: 16pt;
  }
  
  h2 {
    font-size: 14pt;
  }

  h3 {
    font-size: 12pt;
  }
  
  .stat {
    font-size: 12pt;
  }

  .gallery-cell, .result-image {
    width: 250px;
  }

  .main-gallery {
    margin: 20px auto 200px auto;
  }

  .is-clicked .result-image {
    width: 100px;
  }

  .gallery-cell.is-clicked { 
    width: 100%; 
  }

  .flickity-prev-next-button.previous, .flickity-prev-next-button.next {
    width: 50px;
    height: 50px;
    top: 100px;
  }

  .is-clicked {
    padding: 0 3% 0 3%;
  }
  
}
